* {
    font-family: 'Balsamiq Sans', cursive;
}
body, p, h1, h2 {
  background-image: url(images/background.jpg);
}

#contentslist{
    text-align: center;
    font-size: x-large;
    color: black;
}

.contentsborder{

    box-sizing: border-box; border: 3px solid black;
    
}

h1 {
    font-family: 'Metal Mania', cursive;
    
    font-size: 2000;
    font-weight: bolder;
    color:black;
    background-image: url(images/camo.jpg);
    box-sizing: border-box;     
    padding: 25px;
    border: 10px solid black;
    text-align: center;
}

.photoborder {

    display: block;
  margin-left: auto;
  margin-right: auto;
    
    color:black;
    box-sizing: border-box;     
    border: 3px solid black;
    
}

h2 {
    font-weight: bolder;
    font-size: xx-large;
}

h3 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(253, 184, 8);
}


p {

    font-size: larger;
    color: blanchedalmond;

}


.container {
    display: flex;
    min-height: 15vh;
    flex-direction: row;
    
    background-image: url(images/navbar.jpg);
    
    
    
}



.box {
    align-content: center;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    width: 120px;
   
}

/* Attributes for each box */

.box1 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg); }
.box2 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg);   }
.box3 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg);  }
.box4 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg);   }
.box5 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg);  }
.box6 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg); }
.box7 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg);  }
.box8 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg);  }
.box9 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg);  }
.box10 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg);  }
.box11 { box-sizing: border-box; border: 3px solid black; background-image: url(images/navbar.jpg);  }
.box12 { box-sizing: border-box; border: 3px solid black;background-image: url(images/navbar.jpg);  }

